@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    font-family: "Open Sans", sans-serif;
  }

  .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Work Sans", sans-serif;
  }
}